<!DOCTYPE html>
<html lang="es"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      class="light-style layout-navbar-fixed layout-menu-fixed layout-compact"
      dir="ltr"
      data-assets-path="/static/"
      data-theme="theme-default"
      data-template="vertical-menu-template">
<head>
    <meta charset="UTF-8"/>
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>

    <title>Layout | To-DoSync</title>

    <meta name="description" content=""/>

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="/static/images/icon/favicon.ico"/>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
            href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
            rel="stylesheet"/>

    <!-- Icons -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/static/css/vendor/boxicons.css"/>
    <link rel="stylesheet" href="/static/css/vendor/fontawesome.css" />
    <link rel="stylesheet" href="/static/css/vendor/flag-icons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="/static/css/vendor/core.css" class="template-customizer-core-css"/>
    <link rel="stylesheet" href="/static/css/vendor/theme-default.css" class="template-customizer-theme-css"/>
    <link rel="stylesheet" href="/static/css/demo.css"/>

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="/static/css/vendor/libs/perfect-scrollbar.css"/>
    <link rel="stylesheet" href="/static/css/vendor/libs/typeahead.css" />
    <link rel="stylesheet" href="/static/css/vendor/libs/apex-charts.css"/>
    <link rel="stylesheet" href="/static/css/vendor/libs/fullcalendar.css" />
    <link rel="stylesheet" href="/static/css/vendor/libs/select2.css" />
    <link rel="stylesheet" href="/static/css/vendor/libs/editor.css" />

    <link rel="stylesheet" href="/static/css/datatables/datatables.bootstrap5.css">
    <link rel="stylesheet" href="/static/css/datatables/responsive.bootstrap5.css">
    <link rel="stylesheet" href="/static/css/datatables/datatables.checkboxes.css">
    <link rel="stylesheet" href="/static/css/datatables/buttons.bootstrap5.css">
    <link rel="stylesheet" href="/static/css/vendor/libs/flatpickr.css" />
    <!-- Row Group CSS -->
    <link rel="stylesheet" href="/static/css/vendor/libs/rowgroup.bootstrap5.css">

    <!-- Form Validation -->
    <link rel="stylesheet" href="/static/css/vendor/libs/form-validation.css"/>

    <!-- Page CSS -->
    <link rel="stylesheet" href="/static/css/vendor/pages/app-calendar.css" />
    <link rel="stylesheet" href="/static/css/vendor/pages/page-taskList.css"/>

    <!-- Helpers -->
    <script src="/static/js/vendor/helpers.js"></script>
    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!-- <script src="/static/js/vendor/template-customizer.js"></script> -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="/static/js/config.js"></script>
</head>
<body>
<!-- Layout wrapper -->
<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
        <!-- Menu -->
        <aside th:replace="~{fragments/sidebar::sidebar}"></aside>
        <!-- / Menu -->

        <!-- Layout container -->
        <div class="layout-page">
            <!-- Navbar -->
            <nav th:replace="~{fragments/header::header}"></nav>
            <!-- / Navbar -->

            <!-- Content wrapper -->
            <div class="content-wrapper">

                <!-- Content -->
                <div layout:fragment="panel"></div>
                <div layout:fragment="calendar"></div>
                <div layout:fragment="taskList"></div>
                <!-- / Content -->

            <!-- Footer -->
            <footer th:replace="~{fragments/footer::footer}"></footer>
            <!-- / Footer -->
            <div class="content-backdrop fade"></div>
        </div>
            <!-- Content wrapper -->
     </div>
        <!-- / Layout page -->
    </div>

    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>
</div>
<!-- / Layout wrapper -->


<script src="/static/js/vendor/libs/jquery.js"></script>
<script src="/static/js/vendor/libs/popper.js"></script>
<script src="/static/js/vendor/bootstrap.js"></script>
<script src="/static/js/vendor/libs/perfect-scrollbar.js"></script>
<script src="/static/js/vendor/libs/hammer.js"></script>
<script src="/static/js/vendor/libs/i18n.js"></script>
<script src="/static/js/vendor/libs/typeahead.js"></script>
<script src="/static/js/vendor/menu.js"></script>

<!-- endbuild -->

<!-- Vendors JS -->
<script src="/static/js/vendor/libs/apexcharts.js"></script>
<script src="/static/js/vendor/libs/fullcalendar.js"></script>
<script src="/static/js/vendor/libs/select2.js"></script>
<script src="/static/js/datatables/datatables-bootstrap5.js"></script>
<!-- Flat Picker -->
<script src="/static/js/vendor/libs/moment.js"></script>
<script src="/static/js/vendor/libs/flatpickr.js"></script>

<!-- Form Validation -->
<script src="/static/js/vendor/libs/popular.js"></script>
<script src="/static/js/vendor/libs/bootstrap5.js"></script>
<script src="/static/js/vendor/libs/auto-focus.js"></script>
<!-- Main JS -->
<script src="/static/js/main.js"></script>


<!-- Page JS -->
<script src="/static/js/dashboards-analytics.js"></script>
<script src="/static/js/app-calendar-events.js"></script>
<script src="/static/js/app-calendar.js"></script>
<script src="/static/js/datatables/tables-datatables-basic.js"></script>

</body>
</html>