<!DOCTYPE html>
<html lang="es"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="offcanvas offcanvas-end" id="add-new-record" th:fragment="addTask">
    <div class="offcanvas-header border-bottom">
        <h5 class="offcanvas-title" id="exampleModalLabel">Nueva tarea</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body flex-grow-1">
        <form class="add-new-record pt-0 row g-2" id="form-add-new-record" onsubmit="return false">
            <div class="col-sm-12">
                <label class="form-label" for="basicFullname">TÍTULO</label>
                <div class="input-group input-group-merge">
                    <span id="basicFullname2" class="input-group-text"><i class="bx bx-user"></i></span>
                    <input type="text" id="basicFullname" class="form-control dt-full-name" name="basicFullname"
                           placeholder="John Doe" aria-label="John Doe" aria-describedby="basicFullname2"/>
                </div>
            </div>

            <div class="col-sm-12">
                <label class="form-label" for="basicFullname">Avr</label>
                <div class="input-group input-group-merge">
                    <span class="input-group-text"><i class="bx bx-user"></i></span>
                    <input type="text" class="form-control dt-full-name" name="basicFullname"
                           placeholder="John Doe" aria-label="John Doe" aria-describedby="basicFullname2"/>
                </div>
            </div>

            <div class="col-sm-12">
                <label class="form-label" for="basicDate">Joining Date</label>
                <div class="input-group input-group-merge">
                    <span id="basicDate2" class="input-group-text"><i class='bx bx-calendar'></i></span>
                    <input type="text" class="form-control dt-date" id="basicDate" name="basicDate"
                           aria-describedby="basicDate2" placeholder="MM/DD/YYYY" aria-label="MM/DD/YYYY"/>
                </div>
            </div>

            <div class="col-sm-12">
                <label class="form-label" for="basicSalary">Salary</label>
                <div class="input-group input-group-merge">
                    <span id="basicSalary2" class="input-group-text"><i class='bx bx-dollar'></i></span>
                    <input type="number" id="basicSalary" name="basicSalary" class="form-control dt-salary"
                           placeholder="12000" aria-label="12000" aria-describedby="basicSalary2"/>
                </div>
            </div>
            <div class="col-sm-12">
                <button type="submit" class="btn btn-primary data-submit me-sm-3 me-1">Submit</button>
                <button type="reset" class="btn btn-outline-secondary" data-bs-dismiss="offcanvas">Cancel</button>
            </div>
        </form>

    </div>
</div>
<!--<div class="col-sm-12">
    <button type="submit" class="btn btn-primary data-submit me-sm-3 me-1" data-bs-dismiss="offcanvas">Submit</button>
    <button type="reset" class="btn btn-outline-secondary" data-bs-dismiss="offcanvas">Cancel
    </button>
</div> -->
</body>
</html>
