<!DOCTYPE html>
<html lang="es"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layoutPanel.html}">
<head>
    <meta charset="UTF-8">
    <title>Planear proyecto | To-DoSync</title>
</head>
<body>

<div class="container-xxl flex-grow-1 container-p-y" layout:fragment="formProject">
    <h4 class="py-3 mb-4">
        <span class="text-muted fw-light">Planear /</span> Proyecto
    </h4>

    <div class="col-xxl">
        <div class="card mb-4">
            <div class="card-header d-flex align-items-center justify-content-between">
                <h5 class="mb-0" th:text="${project?.id == null} ? 'Nuevo Proyecto' : 'Editar Proyecto'"></h5>
                <small class="text-muted float-end"
                       th:text="${project?.id == null} ? 'Rellene los campos' : 'Detalles del proyecto'"></small>
            </div>
            <div class="card-body">
                <form th:action="@{/addProject}" th:object="${project}" method="post">
                    <input type="hidden" th:field="*{id}"/>

                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label" for="basic-default-name">Nombre del proyecto</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="basic-default-name"
                                   th:field="*{name}"
                                   th:errorclass="'form-control alert-danger'"
                                   placeholder="Título de la tarea">
                            <small class="form-text text-danger" th:if="${#fields.hasErrors('name')}"
                                   th:errors="*{name}"></small>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label" for="CreationDate">Fecha inicio</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="CreationDate"
                                   th:field="*{creationDate}"
                                   th:errorclass="'form-control alert-danger'"
                                   placeholder="AAAA-MM-DD"/>
                            <small class="form-text text-danger" th:if="${#fields.hasErrors('creationDate')}"
                                   th:errors="*{creationDate}"></small>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label" for="DueDate">Fecha vencimiento</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="DueDate"
                                   th:field="*{dueDate}"
                                   th:errorclass="'form-control alert-danger'"
                                   placeholder="AAAA-MM-DD"/>
                            <small class="form-text text-danger" th:if="${#fields.hasErrors('dueDate')}"
                                   th:errors="*{dueDate}"></small>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label" for="Status">Estado</label>
                        <div class="col-sm-10">
                            <select class="form-select" id="Status" th:field="*{status}">
                                <option value="Pendiente" selected>Pendiente</option>
                                <option value="Activo">Activo</option>
                                <option value="Completo">Completo</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label" for="basic-default-message">Descripción</label>
                        <div class="col-sm-10">
                            <textarea id="basic-default-message" class="form-control"
                                      th:field="*{description}"
                                      placeholder="Descripción y/o para tener en cuenta en la tarea"
                                      aria-label="Hi, Do you have a moment to talk Joe?"
                                      aria-describedby="basic-icon-default-message2"></textarea>
                        </div>
                    </div>
                    <div class="row justify-content-end">
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-primary"
                                    th:text="${project?.id == null} ? 'Crear' : 'Actualizar'">Crear
                            </button>
                            <button type="reset" class="btn btn-label-secondary btn-cancel me-sm-0 me-1">Cancelar
                            </button>
                            <!-- <button class="btn btn-label-danger">Borrar</button> -->
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

</body>
</html>
