<!DOCTYPE html>
<html lang="es"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layoutPanel.html}">
<head>
    <meta charset="UTF-8">
    <title>Lista de proyectos | To-DoSync</title>
</head>
<body>

<div class="container-xxl flex-grow-1 container-p-y" layout:fragment="projectList">

    <h4 class="py-3 mb-4">
        <span class="text-muted fw-light">Visualizar /</span> Lista de Proyectos
    </h4>

    <div th:replace="~{fragments/projectTable::projectTable}"></div>

</div>

</body>
</html>